<!DOCTYPE html SYSTEM "http://www.indonez.com/xhtml1-iframe.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cube - Retail Business Template</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/noscript.css" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cycle.all.js" ></script>
<script type="text/javascript" src="js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
   $(function(){
	   	 $('#slider').cycle({
            timeout: 6000,  // milliseconds between slide transitions (0 to disable auto advance)
            fx:     'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...            
            prev:   '#slideprev', // selector for element to use as click trigger for next slide  
			next:   '#slidenext', // selector for element to use as click trigger for previous slide
            pause:   true,	  // true to enable "pause on hover"
			cleartypeNoBg: true, // set to true to disable extra cleartype fixing (leave false to force background color setting on slides)
            pauseOnPagerHover: 0 // true to pause when hovering over pager link
         });      
		$('.box-news-content ul').cycle({
            timeout: 6000,  // milliseconds between slide transitions (0 to disable auto advance)
            fx:     'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            pause:   0,	  // true to enable "pause on hover"
			cleartypeNoBg: true, // set to true to disable extra cleartype fixing (leave false to force background color setting on slides)
            pauseOnPagerHover: 0 // true to pause when hovering over pager link
        });
		$('.box-accesories ul').cycle({
            timeout: 0,  // milliseconds between slide transitions (0 to disable auto advance)
            fx:     'scrollHorz', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
			prev:   '#accprev', // selector for element to use as click trigger for next slide  
			next:   '#accnext', // selector for element to use as click trigger for previous slide
            pause:   0,	  // true to enable "pause on hover"
			cleartypeNoBg: true, // set to true to disable extra cleartype fixing (leave false to force background color setting on slides)
            pauseOnPagerHover: 0 // true to pause when hovering over pager link
        });
     });
</script>
</head>

<body>	
	<div id="container">
    	
        <div id="top-container">
        
        	<!-- BEGIN OF HEADER -->
        	<div id="header">
            
            	<!-- begin of top-flag -->
            	<div id="flag">
                	<img src="images/flag/us-flag.jpg" alt="" class="flag-class" /> <a href="#">English</a>
                    <img src="images/flag/ina-flag.jpg" alt="" class="flag-class" /> <a href="#">Indonesia</a>
                </div>
                <!-- end of top-flag -->
                
                <!-- begin of logo -->
                <div id="logo-wrapper">
                	<div id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
                </div>
                <!-- end of logo -->
                
                <!-- begin of mainmenu -->
                <div id="mainmenu">
                  	<ul id="topnav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Products</a>
                            <div class="sub">
                                <ul class="drop-text">
                                    <li>
                                    <p>Here's an example of a paragraph inside the drop-down panel. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam nostrudas exercitation ullamco laboris nisi ut aliquip ex ea commodo occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p>
                                    </li>
                                </ul>
                                <ul class="drop-product">
                                    <li><h2>Cube Series</h2></li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                </ul>
                                <ul class="drop-link">
                                    <li><h2>Another Pages</h2></li>
                                    <li><a href="element.html">Element Page</a></li>
                                    <li><a href="product.html">Product list Page</a></li>
                                    <li><a href="testimonials.html">Testimonials Page</a></li>
                                    <li><a href="portfolio.html">Portfolio Page</a></li>
                                    <li><a href="pricing.html">Pricing Plan</a></li>
                                    <li><a href="services.html">Services Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="fullwidth.html">Fullwidth Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>                      
                            </div>
                        </li>
                        <li><a href="wheretobuy.html">Where to Buy</a></li> 
                        <li><a href="news.html">News</a></li>
                        <li><a href="support.html">Support</a></li>                    
                    </ul>
                </div> 
                <!-- end of mainmenu -->
                           
            </div>
            <!-- END OF HEADER -->
            
            <!-- BEGIN OF SLIDESHOW -->
            <div id="fullwidth-slider">            	
                <div class="slideshow-wrapper">           
                                   
                    <ul id="slider">
                        <li><!-- begin of slide 1 -->
                            <div class="slide-content-wrapper">                            	
                                <div class="slide-content">
                                    <div class="slide-img">
                                        <img src="images/slide1-img.png" alt="" />
                                    </div>
                                    <div class="slide-text">
                                        <img src="images/cube-x2.png" alt="" />
                                        <h2>Next Generation Media Player</h2>
                                        <p>Cube HD X2 is the first pure high definition player bring new revolution to home teather technology</p>
                                        <img src="images/certification-logo.png" alt="" />
                                    </div>                                    
                                </div>
                                <div class="slide-dot"></div>
                            </div>
                            <img src="images/slideshow/slide1.jpg" alt="" />
                        </li>
                        <li><!-- begin of slide 2 -->
                            <div class="slide-content-wrapper">                            	
                                <div class="slide-content">
                                    <div class="slide-img">
                                        <img src="images/slide2-img.png" alt="" />
                                    </div>
                                    <div class="slide-text">
                                        <img src="images/cube-x2.png" alt="" />
                                        <h2>Next Generation Media Player</h2>
                                        <p>Cube HD X2 is the first pure high definition player bring new revolution to home teather technology</p>
                                        <img src="images/certification-logo.png" alt="" />
                                    </div>
                                </div>
                                <div class="slide-dot"></div>
                            </div>
                            <img src="images/slideshow/slide2.jpg" alt="" />
                        </li>
                        <li><!-- begin of slide 3 -->
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <div class="slide-text-full">
                                        <h2>Mini, beautiful, but powerful</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt utare labore et dolore magna aliqua</p>
                                    </div>
                                    <div class="slide-img-full">
                                        <img src="images/slide3-img.png" alt="" />
                                    </div>                                    
                                </div>
                                <div class="slide-dot"></div>
                            </div>
                            <img src="images/slideshow/slide3.jpg" alt="" />
                        </li>    
                        <li><!-- begin of slide 4 -->
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <div class="slide-video">
                                        <iframe src="http://player.vimeo.com/video/21369022?title=0&amp;byline=0&amp;portrait=0" frameborder="0"></iframe>
                                     </div>
                                     <div class="slide-text-video">
                                        <h2>Next Generation Media Player</h2>
                                        <p>Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id</p>
                                        <img src="images/certification-logo.png" alt="" />
                                     </div>
                                </div>
                                <div class="slide-dot"></div>
                            </div>
                            <img src="images/slideshow/slide4.jpg" alt="" />
                        </li>                              
                    </ul>
                    <div id="slide-nav">
                        <div id="slideprev"></div>
                        <div id="slidenext"></div>
                    </div>                                         
        
                </div>                
                <div class="slide-flow"></div>
            </div>     
            <!-- END OF SLIDESHOW -->
            
            <!-- BEGIN OF CONTENT -->
            <div id="midbox-container">
            	<div id="midbox">
                	
                    <!-- begin of box feature -->
                	<div class="box-feature"><!-- box feature 1 -->
                    	<div class="box-title">
                        	<h6>7 skin of Cube HD X2</h6>
                        </div>
                        <div class="box-image">
                        	<img src="images/feature1.png" alt="" />
                        </div>
                    </div>
                    
                    <div class="box-feature"><!-- box feature 2 -->
                    	<div class="box-title">
                        	<h6>Browse with your TV</h6>
                        </div>
                        <div class="box-image">
                        	<img src="images/feature2.png" alt="" />
                        </div>
                    </div>
                    
                    <div class="box-feature"><!-- box feature 3 -->
                    	<div class="box-title">
                        	<h6>Enjoy work with Cube</h6>
                        </div>
                        <div class="box-image">
                        	<img src="images/feature3.png" alt="" />
                        </div>
                    </div>
                    
                    <div class="box-news"><!-- box news -->
                    	<div class="box-title-news">
                        	<h6>Cube News</h6>
                        </div>
                        <div class="box-news-content">
                        	<ul>
                        		<li><p>At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatuam deleniti atque corrupti quos dolores et quas molestias excepturi sint</p></li>
                                <li class="news-nojs"><p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur</p></li>
                                <li class="news-nojs"><p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae recusandae molestiae consequatur</p></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end of box feature -->
                    
                    <!-- begin of award content -->
                    <div id="award-content">
                    	<h6>Awards :</h6>
                        <ul class="award-list">
                            <li><img src="images/award1.png" alt="" /></li>
                            <li><img src="images/award2.png" alt="" /></li>
                            <li><img src="images/award3.png" alt="" /></li>
                            <li><img src="images/award4.png" alt="" /></li>
                            <li><img src="images/award5.png" alt="" /></li>
                            <li><img src="images/award6.png" alt="" /></li>
                        </ul>                    
                    </div>
                    <!-- end of award content -->
                    
                </div>
                
                <div id="content">
                	<div class="maincontent">
                    
                    	<div class="front-content">
                            <img src="images/front-image.jpg" alt="" class="imgleft" />
                            <h3>Make the ultimate upgrade. To a Cube HD X2.<br/>
                                <span class="h-brown">Don't just upgrade your computer. Get a Cube and upgrade
                                your entire multimedia and entertainment experience</span>                        
                            </h3>
                            <div class="front-column-left">
                            	<p><strong>Choose the color</strong><br/>
                                Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum ratione voluptatem sequi nesciunt.
                                </p>
                                <img src="images/front-image2.jpg" alt="" />
                            </div>
                            <div class="front-column-right">
                            	<p><strong>Get to know Cube</strong><br/>
                                Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>
                                <div class="video-preview">
                                	<a href="#"><img src="images/img-video.jpg" alt="" class="video-img" /></a>
                                    <div class="video-play"></div>                                
                                </div>
                            </div>
                        </div>
                        
                        <div id="bottom-box">
                        	<div class="bottom-content">
                            	<div class="box-title2">
                                    <h6>Buy it Now.</h6>
                                </div>
                                <div class="box-content-bottom">
                                	<img src="images/cube-store.jpg" alt="" />   
                                </div>
                            </div>
                            
                            <div class="bottom-content">
                            	<div class="box-title2">
                                    <h6>You might also consider</h6>
                                </div>
                                <div class="box-accesories">
                                	<ul>
                                        <li class="acces-content">
                                        	<p>Cube Wifi 300X1</p>
                                            <img src="images/acces-wifi.jpg" alt="" />
                                        </li>
                                        <li class="acces-content acces-nojs">
                                        	<p>Cube Wifi 300X1</p>
                                            <img src="images/acces-wifi.jpg" alt="" />
                                        </li>
                                        <li class="acces-content acces-nojs">
                                        	<p>Cube Wifi 300X1</p>
                                            <img src="images/acces-wifi.jpg" alt="" />
                                        </li>
                                    </ul>
                                    <div id="accessories-nav">
                                        <div id="accprev"></div>
                                        <div id="accnext"></div>
                                    </div>    
                                </div>
                            </div>
                            
                            <div class="bottom-content-last">
                            	<div class="box-title2">
                                    <h6>Join with Cube community</h6>
                                </div>
                                <div class="box-content-bottom">
                                	<img src="images/community-icon.jpg" alt="" class="imgleft cmty-icon" />
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid exea commodi <br/>
                                    <a href="#"><strong>http://support.cube.co.id</strong></a></p>    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                            
            </div>
            <!-- END OF CONTENT -->
            
            <!-- BEGIN OF FOOTER -->
            <div id="bottom-container">
            	<div id="footer">
                	<div class="logo-coloumn"><img src="images/logo-footer.png" alt="" /></div>
                    <div class="link-column">
                    	<ul id="footer-menu1">
                            <li><a href="#">Firmware Download</a></li>
                            <li><a href="#">Where to Buy</a></li>                    
                            <li><a href="#">FAQ</a></li>                                
                            <li><a href="#">Manage</a></li>
                            <li><a href="#">Support</a></li>    
                        </ul>
                        <ul id="footer-menu2">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>                    
                            <li><a href="#">Jobs</a></li>                                
                            <li><a href="#">Become a Partner</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Privacy</a></li>                                
                            <li><a href="#">DMCA</a></li>
                            <li><a href="#">Term of Use</a></li>    
                        </ul>
                        <p>&copy; 2011 Cube, Inc.  All rights reserved</p>
                    </div>
                    <div class="fb-like">
                    	<iframe frameborder="0" scrolling="no" style="border: medium none; overflow: hidden; width: 60px; height: 60px;" src="http://www.facebook.com/plugins/like.php?href=http://www.indonez.com/&amp;layout=box_count&amp;show_faces=false&amp;width=66&amp;action=like&amp;colorscheme=light"></iframe>
                    </div>
                </div>            
            </div>
            <!-- END OF FOOTER -->
            
    	</div>
                   	       
    </div>      
<script type="text/javascript">$('#noscript').remove();</script>     

</body>
</html>