<!DOCTYPE html SYSTEM "http://www.indonez.com/xhtml1-iframe.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cube - Retail Business Template</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/noscript.css" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/contact-form.js"></script>
<script type="text/javascript" src="js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="js/megamenu.js"></script>
</head>

<body>	
	<div id="container">
    	
        <div id="top-container">
        
        	<!-- BEGIN OF HEADER -->
        	<div id="header">
            
            	<!-- begin of top-flag -->
            	<div id="flag">
                	<img src="images/flag/us-flag.jpg" alt="" class="flag-class" /> <a href="#">English</a>
                    <img src="images/flag/ina-flag.jpg" alt="" class="flag-class" /> <a href="#">Indonesia</a>
                </div>
                <!-- end of top-flag -->
                
                <!-- begin of logo -->
                <div id="logo-wrapper">
                	<div id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
                </div>
                <!-- end of logo -->
                
                <!-- begin of mainmenu -->
                <div id="mainmenu">
                  	<ul id="topnav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Products</a>
                            <div class="sub">
                                <ul class="drop-text">
                                    <li>
                                    <p>Here's an example of a paragraph inside the drop-down panel. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam nostrudas exercitation ullamco laboris nisi ut aliquip ex ea commodo occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p>
                                    </li>
                                </ul>
                                <ul class="drop-product">
                                    <li><h2>Cube Series</h2></li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                </ul>
                                <ul class="drop-link">
                                    <li><h2>Another Pages</h2></li>
                                    <li><a href="element.html">Element Page</a></li>
                                    <li><a href="product.html">Product list Page</a></li>
                                    <li><a href="testimonials.html">Testimonials Page</a></li>
                                    <li><a href="portfolio.html">Portfolio Page</a></li>
                                    <li><a href="pricing.html">Pricing Plan</a></li>
                                    <li><a href="services.html">Services Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="fullwidth.html">Fullwidth Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>                      
                            </div>
                        </li>
                        <li><a href="wheretobuy.html">Where to Buy</a></li> 
                        <li><a href="news.html">News</a></li>
                        <li><a href="support.html">Support</a></li>                    
                    </ul>
                </div> 
                <!-- end of mainmenu -->
                           
            </div>
            <!-- END OF HEADER -->   
            
            <!-- BEGIN OF CONTENT -->
            <div id="midbox-container-inner">
            	<div id="midbox-inner-bg"></div>
            	<div id="midbox-inner">
                	
                    <!-- begin of page title -->
                    <div id="page-title">
                    	<h1>Support</h1>
                    </div>
                    <!-- end of page title -->
                    
                    <!-- begin of award content -->
                    <div id="bread-search-column">
                    	<div id="breadcumb">                   	
                    		<span class="bread-img"><img src="images/home-icon.png" alt="" class="bread-img" /></span>
                            <span class="bread-txt">&raquo; support</span>
                        </div>
                        <div id="search-box">                        	
                        	<form id="search" action="#" method="get">
                            <fieldset class="search-fieldset">
      						<input type="text" id="s" value="search here..." onblur="if (this.value == ''){this.value = 'search here...'; }" onfocus="if (this.value == 'search here...') {this.value = ''; }" />
                            <input type="submit" class="go" value="" />
                            </fieldset>      						
      						</form>                            
                        </div>                   
                    </div>
                    <!-- end of award content -->
                    
                </div>
                
                <div id="content">
                	<div class="maincontent">  
                    
                        <!-- begin of top box support -->       
                        <div id="bottom-box-support">
                        	<div class="bottom-content">
                            	<div class="box-title2">
                                    <h6>Downloads</h6>
                                </div>
                                <div class="box-content-bottom">
                                	<img src="images/support1.jpg" alt="" class="imgleft cmty-icon" />
                                    <p>Neque porro quisquam estqui lamo dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora </p>
                                    <div class="support-button"><a class="button" href="#"><span>Details</span></a></div>    
                                </div>
                            </div>
                            
                            <div class="bottom-content">
                            	<div class="box-title2">
                                    <h6>Troubleshooting</h6>
                                </div>
                                <div class="box-content-bottom">
                                	<img src="images/support2.jpg" alt="" class="imgleft cmty-icon" />
                                    <p>Neque porro quisquam estqui lamo dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora </p>
                                    <div class="support-button"><a class="button" href="#"><span>Details</span></a></div> 
                                </div>
                            </div>
                            
                            <div class="bottom-content-last-support">
                            	<div class="box-title2">
                                    <h6>Warranty Services</h6>
                                </div>
                                <div class="box-content-bottom">
                                	<img src="images/support3.jpg" alt="" class="imgleft cmty-icon" />
                                    <p>Neque porro quisquam estqui lamo dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora </p>
                                    <div class="support-button"><a class="button" href="#"><span>Details</span></a></div>    
                                </div>
                            </div>
                        </div>
                        <!-- end of top box support -->
                        
                        <!-- begin of column left --> 
                        <div id="column-support-left">
                        	<h3>Contact Support</h3>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur quis autem vel eum iure</p>
                            
                            <div id="contactFormArea">                                
                                <!-- Contact Form Start //-->
                                <form action="#" id="contactform"> 
                                <fieldset>
                                <label>Name</label><br />
                                <input type="text" name="name" class="textfield" id="name" value="" /><br />
                                <label>Email</label><br />
                                <input type="text" name="email" class="textfield" id="email" value="" /><br />
                                <label>Subject</label><br />
                                <input type="text" name="subject" class="textfield field-nomargin" id="subject" value="" /><br />
                                <label>Message</label><br />
                                <textarea name="message" id="message" class="textarea" cols="2" rows="7"></textarea>
                                <button type="submit" name="submit" id="buttonsend" class="input-submit">Submit</button>
                                <span class="loading" style="display: none;">Please wait..</span> 
                                </fieldset>
                                </form>
                                <!-- Contact Form End //-->                                      
                            </div>
                            
                        </div>
                        <!-- end of column left -->
                        
                        <!-- begin of column right -->  
                        <div id="column-support-right">
                        	<h3>Additional Resources</h3>
                            <img src="images/support4.jpg" alt="" class="imgleft" />
                            <p class="overflow-text"><strong>Knowledge Base</strong><br/>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
                            </p>
                            <ul class="checklist margin-support">
                                <li>Dolorem eum fugiat quo voluptas nulla pariatur</li>                        
                            </ul>
                            
                            <hr/>
                            
                            <img src="images/support5.jpg" alt="" class="imgleft" />
                            <p class="overflow-text"><strong>Parts and Upgrade</strong><br/>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
                            </p>
                            <ul class="checklist margin-support">
                                <li>Consequatur aut perferendis doloribus</li>
                                <li>Nemo enim ipsam voluptatem quia voluptas </li>                        
                            </ul>
                            
                            <hr/>
                            
                            <img src="images/support6.jpg" alt="" class="imgleft" />
                            <p class="overflow-text"><strong>Online Support</strong><br/>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
                            </p>
                            <ul class="checklist margin-support">
                                <li>+123 456 888</li>
                                <li>+123 456 999</li>                  
                            </ul>
                            
                            <hr/>
                        </div>
                        <!-- end of column right -->                         
                        
                    </div>
                </div>
                            
            </div>
            <!-- END OF CONTENT -->
            
            <!-- BEGIN OF FOOTER -->
            <div id="bottom-container">
            	<div id="footer">
                	<div class="logo-coloumn"><img src="images/logo-footer.png" alt="" /></div>
                    <div class="link-column">
                    	<ul id="footer-menu1">
                            <li><a href="#">Firmware Download</a></li>
                            <li><a href="#">Where to Buy</a></li>                    
                            <li><a href="#">FAQ</a></li>                                
                            <li><a href="#">Manage</a></li>
                            <li><a href="#">Support</a></li>    
                        </ul>
                        <ul id="footer-menu2">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>                    
                            <li><a href="#">Jobs</a></li>                                
                            <li><a href="#">Become a Partner</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Privacy</a></li>                                
                            <li><a href="#">DMCA</a></li>
                            <li><a href="#">Term of Use</a></li>    
                        </ul>
                        <p>&copy; 2011 Cube, Inc.  All rights reserved</p>
                    </div>
                    <div class="fb-like">
                    	<iframe frameborder="0" scrolling="no" style="border: medium none; overflow: hidden; width: 60px; height: 60px;" src="http://www.facebook.com/plugins/like.php?href=http://www.indonez.com/&amp;layout=box_count&amp;show_faces=false&amp;width=66&amp;action=like&amp;colorscheme=light"></iframe>
                    </div>
                </div>            
            </div>
            <!-- END OF FOOTER -->
            
    	</div>
                   	       
    </div>      
<script type="text/javascript">$('#noscript').remove();</script>     

</body>
</html>