<!DOCTYPE html SYSTEM "http://www.indonez.com/xhtml1-iframe.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cube - Retail Business Template</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/noscript.css" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="js/megamenu.js"></script>
</head>

<body>	
	<div id="container">
    	
        <div id="top-container">
        
        	<!-- BEGIN OF HEADER -->
        	<div id="header">
            
            	<!-- begin of top-flag -->
            	<div id="flag">
                	<img src="images/flag/us-flag.jpg" alt="" class="flag-class" /> <a href="#">English</a>
                    <img src="images/flag/ina-flag.jpg" alt="" class="flag-class" /> <a href="#">Indonesia</a>
                </div>
                <!-- end of top-flag -->
                
                <!-- begin of logo -->
                <div id="logo-wrapper">
                	<div id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
                </div>
                <!-- end of logo -->
                
                <!-- begin of mainmenu -->
                <div id="mainmenu">
                  	<ul id="topnav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Products</a>
                            <div class="sub">
                                <ul class="drop-text">
                                    <li>
                                    <p>Here's an example of a paragraph inside the drop-down panel. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam nostrudas exercitation ullamco laboris nisi ut aliquip ex ea commodo occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p>
                                    </li>
                                </ul>
                                <ul class="drop-product">
                                    <li><h2>Cube Series</h2></li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                    <li><a href="product-detail.html">
                                    	<span class="menu-img"><img src="images/menu-img.jpg" alt="" /></span>
                                        <span class="menu-title">
                                        	Cube HD X2 725<br/>
                                            <span class="small-desc">some description of product</span>
                                        </span>
                                        </a>                                    
                                    </li>
                                </ul>
                                <ul class="drop-link">
                                    <li><h2>Another Pages</h2></li>
                                    <li><a href="element.html">Element Page</a></li>
                                    <li><a href="product.html">Product list Page</a></li>
                                    <li><a href="testimonials.html">Testimonials Page</a></li>
                                    <li><a href="portfolio.html">Portfolio Page</a></li>
                                    <li><a href="pricing.html">Pricing Plan</a></li>
                                    <li><a href="services.html">Services Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="fullwidth.html">Fullwidth Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>                      
                            </div>
                        </li>
                        <li><a href="wheretobuy.html">Where to Buy</a></li> 
                        <li><a href="news.html">News</a></li>
                        <li><a href="support.html">Support</a></li>                    
                    </ul>
                </div> 
                <!-- end of mainmenu -->
                           
            </div>
            <!-- END OF HEADER -->   
            
            <!-- BEGIN OF CONTENT -->
            <div id="midbox-container-inner">
            	<div id="midbox-inner-bg"></div>
            	<div id="midbox-inner">
                	
                    <!-- begin of page title -->
                    <div id="page-title">
                    	<h1>Element Style</h1>
                    </div>
                    <!-- end of page title -->
                    
                    <!-- begin of award content -->
                    <div id="bread-search-column">
                    	<div id="breadcumb">                   	
                    		<span class="bread-img"><img src="images/home-icon.png" alt="" class="bread-img" /></span>
                            <span class="bread-txt">&raquo; element style</span>
                        </div>
                        <div id="search-box">                        	
                        	<form id="search" action="#" method="get">
                            <fieldset class="search-fieldset">
      						<input type="text" id="s" value="search here..." onblur="if (this.value == ''){this.value = 'search here...'; }" onfocus="if (this.value == 'search here...') {this.value = ''; }" />
                            <input type="submit" class="go" value="" />
                            </fieldset>      						
      						</form>                            
                        </div>                   
                    </div>
                    <!-- end of award content -->
                    
                </div>
                
                <div id="content">
                	<div class="maincontent">           
                    
                       <div class="col-461">
                            <h1>Heading 1 Title</h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etar quasi architecto beatae vitae dicta sunt explicabo.</p> 
                            
                            <h2>Heading 2 Title</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etar quasi architecto beatae vitae dicta sunt explicabo.</p> 
                            
                            <h3>Heading 3 Title</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etar quasi architecto beatae vitae dicta sunt explicabo.</p> 
                            
                            <h4>Heading 4 Title</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etar quasi architecto beatae vitae dicta sunt explicabo.</p> 
                            
                            <h5>Heading 5 Title</h5>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etar quasi architecto beatae vitae dicta sunt explicabo.</p>                         
                            <h3>Bullet list</h3> 
                            <code>&lt;ul class="circle"&gt; [...] &lt;/ul&gt;</code>
                            <ul class="circle circ-float">
                                <li>Quis autem iure reprehenderit voluptate molestiae</li>
                                <li>Et harum quidem rerum facilis est et expedita distinctio</li>
                                <li>Temporibus autem quibusdam et aut officiis debitis</li>                            
                            </ul>
                            
                            <h3>Check list</h3> 
                            <code>&lt;ul class="checklist"&gt; [...] &lt;/ul&gt;</code>
                            <ul class="checklist">
                                <li>Quis autem iure reprehenderit voluptate molestiae</li>
                                <li>Et harum quidem rerum facilis est et expedita distinctio</li>
                                <li>Temporibus autem quibusdam et aut officiis debitis</li>                            
                            </ul>
                            
                            <h3>Order list</h3> 
                            <code>&lt;ol&gt; [...] &lt;/ol&gt;</code>
                            <ol>
                                <li>Quis autem iure reprehenderit voluptate molestiae</li>
                                <li>Et harum quidem rerum facilis est et expedita distinctio</li>
                                <li>Temporibus autem quibusdam et aut officiis debitis</li>                            
                            </ol>
                            
                            <h3>Drop caps</h3>
                            <code>&lt;span class="dropcap"&gt; [...] &lt;/span&gt;</code>
                            <span class="dropcap">Q</span><p>uis autem veleum iurepo reprehenderit quiea voluptate velitasuru essecomm quamel nihil molestiae consequatur, vel illum quikor dolorem eumar fugiator quovoluptas nulla pariatur consequuntur magni dolores eosarubi ratione voluptatem sequi nesciun exercitationem ullam corporis suscipit laboriosam dolorem consectur</p>
                               
                        </div>              
                        
                        <div class="col-461-last">                 
                            <h3>Custom message</h3>
                            <code>&lt;div class="info"&gt; [...] &lt;/div&gt;</code>         
                            <div class="info">This is information message</div>
                                                                           
                            <code>&lt;div class="success"&gt; [...] &lt;/div&gt;</code>         
                            <div class="success">This is success message</div>
                            
                            <code>&lt;div class="warning"&gt; [...] &lt;/div&gt;</code>         
                            <div class="warning">This is warning message</div> 
                            
                            <code>&lt;div class="error"&gt; [...] &lt;/div&gt;</code>         
                            <div class="error">This is error message</div> 
                            
                            <h3>Blockquote text</h3>
                            <code>&lt;blockquote&gt; [...] &lt;/blockquote&gt;</code>
                            <blockquote><p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quamnihil molestiae consequatur, vel illum qui dolorem eum fugiat voluptas nulla pariati nam libero tempore cum soluta nobis est eligendi cumque nihilimpedit minus quod maxime placeat facere possimus.</p></blockquote>
                            
                            <h3>Pullquote left</h3>
                            <code>&lt;span class="pullquote_left"&gt; [...] &lt;/span&gt;</code>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod officia tempor incididunt ut labore et dolore magna aliqua. Ut enim ader minim veniam, <span class="pullquote_left">Similique sunt in culpawe quillor officia deseruntil mollitiaro laborum etrom dolorum fugar doloribusto</span> quisvitael nostrud exercitation ullamco robi laboris nisiutoy aliquip expeart commodol consequatore duis aute irure dolor intropa reprehenderit in voluptate velit esse cillum dolore fugia nulla pariatur excepteur sintre occaecat cupidatat non proident, sunt culpaqui officia deseruntas mollit anim id laborum architecto beatae vitae dicta sunt explicabo porro reiciendis voluptatibu</p> 
                            
                            <h3>Pullquote right</h3>
                            <code>&lt;span class="pullquote_right"&gt; [...] &lt;/span&gt;</code>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod officia tempor incididunt ut labore et dolore magna aliqua. Ut enim ader minim veniam, <span class="pullquote_right">Similique sunt in culpawe quillor officia deseruntil mollitiaro laborum etrom dolorum fugar doloribusto</span> quisvitael nostrud exercitation ullamcoro laboris nisiutoy aliquip expeart commodo consequatore duis aue irure dolor soluta intropa reprehenderit in voluptate velitosa esse cillum dolore fugia nulla pariaturep excepteur sintre occaecat cupidatat non proident, culpaqui officia deseruntasilo mollit anim laborum architecto beatae vitae dicta sunt explicabo porro reiciendi</p>
                            
                            <h3>Sample button</h3>
                            <code>&lt;a class="button normal" href="#"&gt; [...] &lt;/a&gt;</code>
                            <a class="button" href="#" onclick="this.blur(); return false;"><span>Sample button</span></a>
                            <a class="button" href="#" onclick="this.blur(); return false;"><span>Sample button</span></a>
                        </div>           	
                        
                        <hr class="content-line" />
                        
                        <!-- begin of 4 column -->
                        <div class="col-214">
                            <h3>4 Column</h3>
                            <code>&lt;div class="col-214"&gt; [...] &lt;/div&gt;</code>
                            <p>At verobal eosirus etaccusamus etiusto odiolop dignissimos ducimus quirebali blanditiis praesentiumes voluptatumasi deleniti atukupos atque nomari corrupti quos doloresi etulira quasae molestias excepturi sintas ute occaecati cupiditate nonim provident similiqu suntul culpale</p>                            
                        </div> 
                        
                        <div class="col-214">
                            <h3>4 Column</h3>
                            <code>&lt;div class="col-214"&gt; [...] &lt;/div&gt;</code>
                            <p>At verobal eosirus etaccusamus etiusto odiolop dignissimos ducimus quirebali blanditiis praesentiumes voluptatumasi deleniti atukupos atque nomari corrupti quos doloresi etulira quasae molestias excepturi sintas ute occaecati cupiditate nonim provident similiqu suntul culpale</p>                                                    
                        </div>
                        
                        <div class="col-214">
                            <h3>4 Column</h3>
                            <code>&lt;div class="col-214"&gt; [...] &lt;/div&gt;</code>
                            <p>At verobal eosirus etaccusamus etiusto odiolop dignissimos ducimus quirebali blanditiis praesentiumes voluptatumasi deleniti atukupos atque nomari corrupti quos doloresi etulira quasae molestias excepturi sintas ute occaecati cupiditate nonim provident similiqu suntul culpale</p>                            
                        </div>
                        
                        <div class="col-214-last">
                            <h3>4 Column</h3>
                            <code>&lt;div class="col-214-last"&gt; [...] &lt;/div&gt;</code>
                            <p>At verobal eosirus etaccusamus etiusto odiolop dignissimos ducimus quirebali blanditiis praesentiumes voluptatumasi deleniti atukupos atque nomari corrupti quos doloresi etulira quasae molestias excepturi sintas ute occaecati cupiditate nonim provident similiqu suntul culpale</p>                           
                        </div>
                        <!-- end of 4 column -->
                        
                        <!-- begin of 3 column -->
                        <div class="col-297">
                            <h3>3 Column</h3>
                            <code>&lt;div class="col-297"&gt; [...] &lt;/div&gt;</code>
                            <p>Nam libero tempore cumrab soluta nobis lum estebos eligendi optioco cumque nihila impedit quoyibur minus quodromi maxime placeaturno facere possimus omnil voluptas assumeni omnis dell doloremus repellendus temporibus autem quibusi damarind officiis debitis aut rerumam necessitatibus saepel wels eveniet voluptate</p>                            
                        </div> 
                        
                        <div class="col-297">
                            <h3>3 Column</h3>
                            <code>&lt;div class="col-297"&gt; [...] &lt;/div&gt;</code>
                            <p>Nam libero tempore cumrab soluta nobis lum estebos eligendi optioco cumque nihila impedit quoyibur minus quodromi maxime placeaturno facere possimus omnil voluptas assumeni omnis dell doloremus repellendus temporibus autem quibusi damarind officiis debitis aut rerumam necessitatibus saepel wels eveniet voluptate</p>                                                    
                        </div>
                        
                        <div class="col-297-last">
                            <h3>3 Column</h3>
                            <code>&lt;div class="col-297-last"&gt; [...] &lt;/div&gt;</code>
                            <p>Nam libero tempore cumrab soluta nobis lum estebos eligendi optioco cumque nihila impedit quoyibur minus quodromi maxime placeaturno facere possimus omnil voluptas assumeni omnis dell doloremus repellendus temporibus autem quibusi damarind officiis debitis aut rerumam necessitatibus saepel wels eveniet voluptate</p>                            
                        </div>
                        <!-- end of 3 column --> 
                        
                        <!-- begin of 2 column -->
                        <div class="col-461">
                            <h3>2 Column</h3>
                            <code>&lt;div class="col-461"&gt; [...] &lt;/div&gt;</code>
                            <p>Itaque earum rerum hici tenetur alloha sapiente delectus utaut reiciendis voluptatibul maiores alias consequatur perferendis doloribus asperiores repellat nequetillo porro quisquam loquri dolorem ipsum quia dolor sitel amet, consectetur, adipisci velit quia non numquam eius modi tempora incidunt labore dolore magnamusi necessitatibus saepe eveniet ut et voluptates repudiandae sint molestiae velilu maxime placeaturno</p>                            
                        </div>              
                        
                        <div class="col-461-last">
                            <h3>2 Column</h3>
                            <code>&lt;div class="col-461-last"&gt; [...] &lt;/div&gt;</code>
                            <p>Itaque earum rerum hici tenetur alloha sapiente delectus utaut reiciendis voluptatibul maiores alias consequatur perferendis doloribus asperiores repellat nequetillo porro quisquam loquri dolorem ipsum quia dolor sitel amet, consectetur, adipisci velit quia non numquam eius modi tempora incidunt labore dolore magnamusi necessitatibus saepe eveniet ut et voluptates repudiandae sint molestiae velilu maxime placeaturno</p>                            
                        </div>
                        <!-- end of 2 column -->
                        
                        <!-- begin of 2 column (left big - right small) -->
                        <div class="col-629">
                            <h3>2 Column big</h3>
                            <code>&lt;div class="col-629"&gt; [...] &lt;/div&gt;</code>
                            <p>Itaque earum rerum hic tenetur a sapiente delectus uter aut reiciendis voluptatibus maiores alias consequatu autor perferendis doloribus asperiores repellat nequeti porro quisquam est, qui dolorem ipsum quia doloru situbas amet consectetur, adipisci velit sediaquliar nona numquam eiusero modi tempora incidunt labore dolore magnam itaque earum rerum hicur tenetur a sapiente delectus, utekpo autero reiciendis voluptatibus maiores alias ansequatur aut perferendis doloribus asperiores repellat nequeti porro quisquam estal, quilog dolorem ipsum quia dolor siti ameti</p>                            
                        </div>              
                        
                        <div class="col-297-last">
                            <h3>2 Column small</h3>
                            <code>&lt;div class="col-297-last"&gt; [...] &lt;/div&gt;</code>
                            <p>Nam libero tempore cumrab etul soluta nobis estebos eligendi optioco cumque nihila impedit quollora minus quod maxime placeaturno facere possimus omnilurub voluptas assumeni omnisargo doloremus repellendua temporibus autem quibusi damarind officiis debitis aut</p>                            
                        </div>
                        <!-- end of 2 column (left big - right small) -->
                        
                        <!-- begin of 2 column (left small - right big) -->
                        <div class="col-297">
                            <h3>2 Column small</h3>
                            <code>&lt;div class="col-297"&gt; [...] &lt;/div&gt;</code>
                            <p>Nam libero tempore cumrab etul soluta nobis estebos eligendi optioco cumque nihila impedit quollora minus quod maxime placeaturno facere possimus omnilurub voluptas assumeni omnisargo doloremus repellendua temporibus autem quibusi damarind officiis debitis aut</p>                           
                        </div>              
                        
                        <div class="col-629-last">
                            <h3>2 Column big</h3>
                            <code>&lt;div class="col-629-last"&gt; [...] &lt;/div&gt;</code>
                            <p>Itaque earum rerum hic tenetur a sapiente delectus uter aut reiciendis voluptatibus maiores alias consequatu autor perferendis doloribus asperiores repellat nequeti porro quisquam est, qui dolorem ipsum quia doloru situbas amet consectetur, adipisci velit sediaquliar nona numquam eiusero modi tempora incidunt labore dolore magnam itaque earum rerum hicur tenetur a sapiente delectus, utekpo autero reiciendis voluptatibus maiores alias ansequatur aut perferendis doloribus asperiores repellat nequeti porro quisquam estal, quilog dolorem ipsum quia dolor siti ameti</p>                           
                        </div>
                        <!-- end of 2 column (left small - right big) --> 
                    
                    </div>
                </div>
                            
            </div>
            <!-- END OF CONTENT -->
            
            <!-- BEGIN OF FOOTER -->
            <div id="bottom-container">
            	<div id="footer">
                	<div class="logo-coloumn"><img src="images/logo-footer.png" alt="" /></div>
                    <div class="link-column">
                    	<ul id="footer-menu1">
                            <li><a href="#">Firmware Download</a></li>
                            <li><a href="#">Where to Buy</a></li>                    
                            <li><a href="#">FAQ</a></li>                                
                            <li><a href="#">Manage</a></li>
                            <li><a href="#">Support</a></li>    
                        </ul>
                        <ul id="footer-menu2">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>                    
                            <li><a href="#">Jobs</a></li>                                
                            <li><a href="#">Become a Partner</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Privacy</a></li>                                
                            <li><a href="#">DMCA</a></li>
                            <li><a href="#">Term of Use</a></li>    
                        </ul>
                        <p>&copy; 2011 Cube, Inc.  All rights reserved</p>
                    </div>
                    <div class="fb-like">
                    	<iframe frameborder="0" scrolling="no" style="border: medium none; overflow: hidden; width: 60px; height: 60px;" src="http://www.facebook.com/plugins/like.php?href=http://www.indonez.com/&amp;layout=box_count&amp;show_faces=false&amp;width=66&amp;action=like&amp;colorscheme=light"></iframe>
                    </div>
                </div>            
            </div>
            <!-- END OF FOOTER -->
            
    	</div>
                   	       
    </div>      
<script type="text/javascript">$('#noscript').remove();</script>     

</body>
</html>