<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration> 
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">  
   <layout class="org.apache.log4j.PatternLayout">  
    <param name="ConversionPattern" value="%-5p %d %l - %m%n" />  
   </layout>  
     
   <!--限制输出级别-->  
   <filter class="org.apache.log4j.varia.LevelRangeFilter">  
    <param name="LevelMax" value="ERROR"/>  
    <param name="LevelMin" value="ERROR"/>  <!-- 如果方便调试可以再本地修改为DEBUG正事环境修改为ERROR -->
   </filter>  
  </appender> 
  
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">  
   <param name="File" value="d:/java/log/cms.log"/>  
   <param name="DatePattern" value="'.'yyyy-MM-dd"/>
   <param name="Append" value="true"/>
    
   <layout class="org.apache.log4j.PatternLayout">  
    <param name="ConversionPattern" value="%-5p %d %l - %m%n" />  
   </layout>  
   
   <filter class="org.apache.log4j.varia.LevelRangeFilter">  
    <param name="LevelMax" value="ERROR"/>  
    <param name="LevelMin" value="INFO"/>  
   </filter>  
  </appender> 
  
  <logger name="org.springframework" additivity="false">     
      <level value="DEBUG" />     
      <appender-ref ref="CONSOLE" />     
  </logger>
     
  <root>  
    <priority value="debug" />  
    <appender-ref ref="CONSOLE" />  
    <!-- <appender-ref ref="FILE" /> -->  
  </root>
</log4j:configuration>